name=titan-nsx-mgr
network=labportgroup1
# vmFolder=infrastructure
datastore=datastore1
X:injectOvfEnv
X:logFile=sitea-nsxm1.log
X:logLevel=verbose
allowExtraConfig
acceptAllEulas
noSSLVerify
diskMode=thin
powerOn
deploymentOption=
# Sets memory shares to default, reservations to 0. limits to 0. Lab deployments only.
viMemoryResource=:0:0
# Sets CPU shares to default, reservations to 0. limits to 0. Lab deployments only.
viCpuResource=:0:0
prop:nsx_hostname=titan-nsx-mgr.lab.local
prop:nsx_domain_0=lab.local
prop:nsx_ip_0=192.168.50.110
prop:nsx_netmask_0=255.255.255.0
prop:nsx_gateway_0=192.168.50.1
prop:nsx_dns1_0=192.168.50.100
prop:nsx_ntp_0=192.168.50.1
prop:nsx_role=NSX Manager
prop:nsx_isSSHEnabled=True
prop:nsx_allowSSHRootLogin=True
prop:nsx_passwd_0=__REPLACE_WITH_NSX_PASSWORD__
prop:nsx_cli_passwd_0=__REPLACE_WITH_NSX_PASSWORD__